.ui-content .ui-listview {
    margin: 0;
    padding: 0;
}
.secondary {
    width : 19%;
    padding: 0;
    margin: 0;
    margin-right : 2%;
    display: inline-block;
    float : left;
    box-sizing: border-box;
}


.primary {
    width :57%;
    padding: 5px;
    margin: 0;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    display: inline-block;
    float : left;
    clear : none;
    box-sizing: border-box;
}
.foodcart {
    width : 19%;
    min-height: 100px;
    display: inline;
    float : right;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    clear : none;
    overflow: auto;
}

#advertisment-space {
    width : 100%;
    height : 300px;
    /*border-radius: 5px;
    border-color: #000000;
    border-width: 1px;
    border-style: solid;*/
    /*background-color: #000000;*/
    /*display : inline-block;*/
}

.loading {
    background-image: url('../res/loaderbig.gif');
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100px;
}

.menuitem-banner {
    text-align: center;
}
.removecontrol:before {
    content :url(../res/delete.gif);
    color : red;
    top : -5px;
    right : -1%;
    width : 3px;
    height : 3px;
     position: relative;
}
.removecontrol:hover {
    cursor : pointer;
}

.foodcartprice {
    font-style : italic;
}
.foodcartpricetotal {
    font-style :normal;
    color : red;
}

.order-status-wrapper {
    border-radius: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    padding: 5px;
    /*margin: 5px;*/
    border-spacing : 10px;
}
#order-status-graphic {
    background-image : url(../res/yellowloading.gif);
    background-repeat : repeat-x;
    width: 99%;
}
#order-status {
    /*min-height: 60px;*/
    display : inline-block;
    text-align: center;
    text-shadow: inset;
    color : white;
    font-size: 16pt;
    padding: 5px;
    position : relative;
    left : 50%;
}
.game-red-burger {
    background-image: url("../res/redburger.JPG");
    background-repeat: no-repeat;
    background-position: center;
    min-width: 80px;
    min-height: 80px;
    background-size: 80px 80px;
}
.game-green-burger {
    background-image: url("../res/greenburger.JPG");
    background-repeat: no-repeat;
    background-position: center;
    min-width: 80px;
    min-height: 80px;
    background-size: 80px 80px;
}
.game-blue-burger {
    background-image: url("../res/blueburger.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px 80px;
    min-width: 80px;
    min-height: 80px;
}
.game-orange-burger {
    background-image: url("../res/orangeburger.JPG");
    background-repeat: no-repeat;
    background-position: center;
    min-width: 80px;
    min-height: 80px;
    background-size: 80px 80px;
}
.game-purple-burger {
    background-image: url("../res/purpleburger.JPG");
    background-repeat: no-repeat;
    background-position: center;
    min-width: 80px;
    min-height: 80px;
    background-size: 80px 80px;
}
.game-win {
    background-image : url("../res/victory.png");
    background-position: center;
    background-repeat: no-repeat;
    min-height: 128px;
    min-width: 128px;
}
.game-lose {
    background-image : url("../res/defeat.png");
    background-position: center;
    background-repeat: no-repeat;
    min-height: 128px;
    min-width: 128px;
}


.payment-paid {
    background-image : url("../res/approved.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 20px;
    min-width: 20px;
    display: inline-block;

}
.payment-failed {
    background-image : url("../res/delete.gif");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 20px;
    min-width: 20px;
    display: inline-block;
}
.payment-pending {
    background-image : url("../res/pending.gif");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 20px;
    min-width: 20px;
    display: inline-block;
}
.approved {
    background-image : url("../res/approved.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 20px;
    min-width: 20px;
    display: inline-block;
}
.pending {
    background-image : url("../res/pending.gif");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 20px;
    min-width: 20px;
    display: inline-block;
}

.failed {
    background-image : url("../res/delete.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 20px;
    min-width: 20px;
    display: inline-block;
}

.waiter-request-pending {
    background-image : url("../res/pending.gif");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: left;
}

.waiter-request-serviced {
    background-image : url("../res/approved.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: left;
}

@-webkit-keyframes rotatingburger {
    11% { -webkit-transform : rotateY(5deg); }
    22% { -webkit-transform : rotateY(20deg); }
    33% { -webkit-transform : rotateY(40deg); }
    44% { -webkit-transform : rotateY(60deg); }
    55% { -webkit-transform : rotateY(80deg); }
    66% { -webkit-transform : rotateY(100deg); }
    77% { -webkit-transform : rotateY(120deg); }
    88% { -webkit-transform : rotateY(140deg); }
    99% { -webkit-transform : rotateY(180deg); }
}
.rotatingBurger {
    background-image: url("../res/burger.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size :300px 260px;
    height : 260px;
    /*width: 300px;*/
    /*-webkit-animation-name : rotatingburger;
    -webkit-animation-duration : 500ms;
    -webkit-animation-iteration-count : infinite;
    -webkit-animation-direction : alternate;
    -webkit-animation-play-state : running;*/
}

.homepagebanner {
    text-align: center;
}
.lucida-bold {
    font-weight : bold;
    font-family: "Lucida Console", Monaco, monospace;
}
.invalid-login {
    color : red;
    font-weight : bold;
    font-family: "Lucida Console", Monaco, monospace;
}

.post-order-panel {

}
.newsfeed-panel {
    padding: 10px;
}